.MyGallery {
  padding: 0;

  img {
    border-radius: 8px;
  }

  &__topImage {
    padding: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__images {
    display: flex;
    gap: 3px;
    padding: 0;

    img {
      height: 102px;
      width: 100%;
    }
  }
}
